<!doctype html>
{% load static %}
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href='/static/images/tbai-ci.ico'>
    <title>HANBERT MACHINE READING & CONPREHENSION DEMO</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/body.css' %}">
    <link rel="stylesheet" href="{% static 'css/heading.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_jh.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
    <script>
        var host_url = 'http://localhost:9999/';
    </script>
    <style>
        .col-md-h {
            flex: 0 0 12.666667%;
            max-width: 12.666667%;
        }

        .col-md-d {
            flex: 0 0 87.333333%;
            max-width: 87.333333%;
        }

        th {
            color: #fff;
            background-color: #69748a;
            border: 1px solid #36445e;
            height: 40px;
        }

        td {
            background-color: #fff;
            border: 1px solid #ddd;
        }

        button.disabled:hover {
            cursor: not-allowed;
        }
    </style>
</head>

<body id="page-top">
    <!-- header-->
    <header class="text-white text-center main_slider">
        <!-- nav-->
        <nav class="navbar navbar-expand-lg position-absolute w-100" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger z-10" href="https://www.naver.com/">Asia Q&amp;A</a>
            </div>
        </nav>
        <!-- /nav-->

        <!-- main slider-->
        <div id="main_slider_container">
            <div class="slider__item showing">
                <div class="slider_img slider_img0"></div>
            </div>
            <div class="slider__item">
                <div class="slider_img slider_img1"></div>
            </div>
            <div class="slider__item">
                <div class="slider_img slider_img2"></div>
            </div>
            <div class="slider__item">
                <div class="slider_img slider_img3"></div>
            </div>
            <div class="slider__item">
                <div class="slider_img slider_img4"></div>
            </div>
            <div class="slider__item">
                <div class="slider_img slider_img5"></div>
            </div>
            <div class="slider__item">
                <div class="slider_img slider_img6"></div>
            </div>
            <div class="slider__item">
                <div class="slider_img slider_img7"></div>
            </div>
            <div class="slider__item">
                <div class="slider_img slider_img8"></div>
            </div>
            <div class="slider__item">
                <div class="slider_img slider_img9"></div>
            </div>
            <div class="slider__item">
                <div class="slider_img slider_img10"></div>
            </div>
            <div class="slider__item">
                <div class="slider_img slider_img11"></div>
            </div>
            <div class="slider__item">
                <div class="slider_img slider_img12"></div>
            </div>
            <div class="slider__item">
                <div class="slider_img slider_img13"></div>
            </div>
            <div class="slider__item">
                <div class="slider_img slider_img14"></div>
            </div>
        </div>
        <!-- /main slider-->

        <!-- main slider text-->
        <div class="main_slider_text">
            <div class="container">
                <div class="text_box">
                    <h1 class="mb-5">Asia Q&amp;A</h1>
                    <p class="pre-wrap font-weight-blod mb-0">아시아 국가에 대한 QnA 사이트입니다.</p>
                </div>
            </div>
        </div>
        <table style="border:none; margin-left:auto; margin-right:auto;">
        <tr style="border:none;">
            <td style="border:none;"><img src="{% static 'assets/img/country/small/1.svg' %}" width=120 height=120 onClick="location.href='http://127.0.0.1:8000/qa/index/profile.html?country=%EB%8C%80%ED%95%9C%EB%AF%BC%EA%B5%AD+'"></td>
            <td style="border:none;"><img src="{% static 'assets/img/country/small/2.svg' %}" width=120 height=120 onclick="location.href='http://127.0.0.1:8000/qa/index/profile.html?country=%EB%8C%80%ED%95%9C%EB%AF%BC%EA%B5%AD'"></td>
            <td style="border:none;" ><img src="{% static 'assets/img/country/small/3.svg' %}" width=120 height=120></td>
            <td style="border:none;"><img src="{% static 'assets/img/country/small/4.svg' %}" width=120 height=120></td>
            <td style="border:none;"><img src="{% static 'assets/img/country/small/5.svg' %}" width=120 height=120></td>
            <td style="border:none;"><img src="{% static 'assets/img/country/small/6.svg' %}" width=120 height=120 onClick="location.href='http://127.0.0.1:8000/qa/index/profile.html?country=%EB%B6%81%ED%95%9C'"></td>
            <td style="border:none;"><img src="{% static 'assets/img/country/small/7.svg' %}" width=120 height=120></td>
            <td style="border:none;"><img src="{% static 'assets/img/country/small/8.svg' %}" width=120 height=120></td>
            <td style="border:none;"><img src="{% static 'assets/img/country/small/9.svg' %}" width=120 height=120></td>
            <td style="border:none;"><img src="{% static 'assets/img/country/small/10.svg' %}" width=120 height=120></td>
            <td style="border:none;"><img src="{% static 'assets/img/country/small/11.svg' %}" width=120 height=120></td>
            <td style="border:none;"><img src="{% static 'assets/img/country/small/12.svg' %}" width=120 height=120></td>
            <td style="border:none;"><img src="{% static 'assets/img/country/small/13.svg' %}" width=120 height=120></td>
            <td style="border:none;"><img src="{% static 'assets/img/country/small/14.svg' %}" width=120 height=120></td>
            <td style="border:none;"><img src="{% static 'assets/img/country/small/15.svg' %}" width=120 height=120></td>
        </tr>
<!--        <tr>-->
<!--            {% for n in count %}-->
<!--                <td><img src="{% static 'assets/img/country/small/{{ n }}.svg' %}" width=100 height=100></td>-->
<!--            {% endfor %}-->
<!--        </tr>-->
    </table>
        <!-- /main slider text-->
    </header>

    <!-- /header-->
    <script type="text/javascript">
        $(document).ready(function() {
            var sock = io.connect(host_url);
            sock.on('message', function(msg) {
                console.log(msg);
                $('#sendbutton').text('답변 찾기');
                $('#sendbutton').attr("disabled", false);
                $('#mrc_answer').text(msg.answer);
                $('#mrc_score').text(msg.score);
                $('#result-table').show();
                window.scrollTo(0, document.body.scrollHeight);
            });

            $('#sendbutton').on('click', function() {
                var context_text = $('#myMessage_context').val().replace(/"/g, "'").substr(0, 5000)
                var question_text = $('#myMessage_question').val()
                sock.send(JSON.stringify({
                    "type": "mrc",
                    "context": [escape(context_text)],
                    "question": [escape($('#myMessage_question').val())]
                }));
                $('#sendbutton').text('찾는 중...');
                $('#sendbutton').attr("disabled", true);
            });
            $('#sendbutton2').on('click', function() {
                var context_text = $('#myMessage_context').val().replace(/"/g, "'").substr(0, 5000)
                var question_text = $('#myMessage_question2').val()
                sock.send(JSON.stringify({
                    "type": "mrc",
                    "context": [escape(context_text)],
                    "question": [escape($('#myMessage_question2').val())]
                }));
                $('#sendbutton').text('찾는 중...');
                $('#sendbutton').attr("disabled", true);
            });

        });
    </script>
    <main role="main">

        <!--      &lt;!&ndash; Main jumbotron for a primary marketing message or call to action &ndash;&gt;-->
        <!--      <br> <br>-->
        <!--      <div style="padding: 1rem 2rem 1rem;">-->
        <!--        <div class="container">-->
        <!--          <h1 class="display-3"><a href="{% url 'index' %}">HanBERT_MRC DEMO</a></h1>-->
        <!--        </div>-->
        <!--      </div>-->

        <div class="container">
<!--            <div method="POST">-->
<!--                {% csrf_token %}-->
                <br>
                <div class="row" style="font-size: 24px; font-weight: bold; margin-top: 30px; margin-bottom: 20px;">
                    기계 독해 (MRC)
                </div>


                <div class="row">
                    <div class="col-md-h text-center" style="height: 50px; background-color: #36445e; border: #36445e solid 1px; color:#fff; padding-top: 10px;">
                        {{ country }}
                    </div>
                    {% for num in domain_num %}
                    <div class="col-md-h text-center" style="height: 50px; background-color: #36448e; border: #36445e solid 1px; color:#fff; padding-top: 10px;" onclick="btnClick()">
                        {{ num }}
                    </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div style="width:100%; background-color: #fafafa; border: #ddd solid 1px; padding: 10px;">
                        <textarea id="myMessage_context" rows="10" style="width: 100%;" name="text">{{ text }}
                        </textarea>
                    </div>
                </div>

                <div id="result-table" class="row text-center" style="background-color: #fafafa; margin-top: 50px; padding: 10px; display: none">
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <th>정답</th>
                                <td id="mrc_answer">{{ answer }}</td>
                            </tr>
                            <tr>
                                <th>신뢰도</th>
                                <td id="mrc_score"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <form method="post">
                    {% csrf_token %}
                    <div class="row text-center" style="background-color: #fafafa; margin-top: 40px; padding: 10px;">
                        <div style="display : none">
                            <input type="text" name="text" value="{{ text }}">
                        </div>
                        <table style="width: 100%;">
                            <tbody>
                                <tr>
                                    <th>질문 선택</th>
                                    <td>
                                        <select name="question" id="myMessage_question2" style="height: 40px; padding-top: 5px; width : 100%;">
                                            {% for q in questions %}
                                            <option value="{{ q }}"> {{ q }} </option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td>
                                        <input type="submit" id="sendbutton2" value="답변찾기" style="background-color: #4270e0; color: #fff; width: 100%; border: 1px solid #4270e0; height: 40px;">
<!--                                        <button type="button" id="sendbutton2" style="background-color: #4270e0; color: #fff; width: 100%; border: 1px solid #4270e0; height: 40px;"> 답변 찾기 </button>-->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>

                <form method="POST">
                    {% csrf_token %}
                    <div style="display : none">
                            <input type="text" name="text" value="{{ text }}">
                    </div>
                    <div class="row" style="margin-top: 40px;">
                        <div class="col-md-h text-center" style="background-color: #36445e; border: #36445e solid 1px; color:#fff; margin-top: 20px; height: 50px; padding-top: 10px;">
                            질문 입력
                        </div>
                        <div style="width:100%; background-color: #fafafa; border: #ddd solid 1px; padding: 10px;">
                            <textarea name="question" id="myMessage_question" rows="2" style="width: 100%;"></textarea>
                        </div>
                    </div>
                    <div class="row text-center" style="width: 100%; margin-top: 40px; display: inline-block;">
<!--                        <button type="button" id="sendbutton1" style="background-color: #4270e0; color: #fff; width: 120px; border: 1px solid #4270e0; height: 40px;"> 답변 찾기 </button>-->
                        <input type="submit" id="sendbutton1" style="background-color: #4270e0; color: #fff; width: 120px; border: 1px solid #4270e0; height: 40px;" value="답변 찾기">
                    </div>
                </form>

                <hr>

                <div class="row" style="font-size: 24px; font-weight: bold; margin-top: 30px; margin-bottom: 20px;">
                    기계 독해 (MRC)의 결과 값
                </div>

                <div class="row" style="margin-top: 40px;">
                        <div class="col-md-h text-center" style="background-color: #36445e; border: #36445e solid 1px; color:#fff; margin-top: 20px; height: 50px; padding-top: 10px;">
                            질문
                        </div>
                        <div style="height:70px; width:100%; background-color: #fafafa; border: #ddd solid 1px; padding: 10px;">
                            <div rows="2" style="width: 100%;">{{ question }}</div>
                        </div>
                </div>
                <div class="row" style="margin-top: 40px;">
                        <div class="col-md-h text-center" style="background-color: #36445e; border: #36445e solid 1px; color:#fff; margin-top: 20px; height: 50px; padding-top: 10px;">
                            정답
                        </div>
                        <div style="height:70px; width:100%; background-color: #fafafa; border: #ddd solid 1px; padding: 10px;">
                            <div rows="2" style="width: 100%;">{{ answer }}</div>
                        </div>
                </div>

        </div> <!-- /container -->

        <hr>

    </main>

    <!-- footer-->
    <footer class="footer text-center footer_bottom copyright py-4 text-center text-white">
        <div class="container">
             <p class="pre-wrap lead mb-0">Made by 개발의 민족</p>
            <small class="pre-wrap">Copyright © All rights reserved.</small>
        </div>
    </footer>
    <!-- /footer-->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>
        window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>