ul {
    background-color : #212529;
    list-style-tpye : none;
    margin: 0;
    pagging: 0;
    overflow: hidden;

}
.container{
    background-color: green;
    width:100%;
    padding-right:1.5rem;
    padding-left:1.5rem;
}
div.main-nav-left a {
    display:block;
    display-color: #212529;
    color : white;
    padding: 8px;
    text-decoration: none;
    text-align: center;
    font-weight:blod;
}
div.main-nav-left {
    float: left;
    display-color: #212529;
}

div.main-nav-right { float: right;}
li a {
    display:block;
    display-color: #212529;
    color : white;
    padding: 8px;
    text-decoration: none;
    text-align: center;
    font-weight:blod;
}

